@import "./less-config.less";

#main {
    right: 0;
    width: 100%;
    height: calc(100% - @messageBarSize);
    position: absolute;
}

@keyframes showMain {
    0% {
        right: -@menuWidth;
    }

    100% {
        right: 0;
    }
}

@keyframes removeMain {
    0% {
        right: 0;
    }

    100% {
        right: -@menuWidth;
    }
}

#main-background {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: @mainBackgroundZIndex;
    opacity: 0.4;
    display: none;
}

@keyframes showMainBackground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes removeMainBackground {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

#main .top-bar #font {
    position: absolute;
    left: 0;
    width: @topBarLeft;
    height: @topBarHeight;
    background: linear-gradient(to right, @color3, @color3 45%, transparent 70%);
    z-index: @mainFontZIndex;
}

#main .bottom-area .file-area .file {
    white-space: pre-wrap;
}